<div class="hero-unit">
	<h1>Facebook Albums</h1>
	<div class="well form-inline">
		Enter a facebook page name
		<input type="text" ng-model="username" />
		<a ng-click="getAlbums(username)" class="btn">Get Albums</a>
		<span help-inline="E.g. nike, pepsi, dell, htc, facebook"
	</div>
	<div class="row-fluid">
		<ul class="thumbnails row-of-four">
			<li ng-repeat="album in albums" class="span3" style="height:300px">
				<a href="{{album.link}}">
					<div class="thumbnail">
						<img ng-src="{{getAlbumImageUrl(album)}}" style="max-height:210px"/>

						<div class="caption" style="padding-bottom:0">
							{{album.name}}
							<p style="text-align:center;font-size:80%">{{album.count}} photos</p>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
