<div class="hero-unit">
	<h1>Facebook Albums</h1>
	<div class="well form-inline">
		Enter a facebook page name
		<input type="text" ng-model="username" />
		<a ng-click="getAlbums(username)" class="btn">Get Albums</a>
		<span class="help-inline">E.g. nike, pepsi, dell, htc, facebook</span>
	</div>
	<div class="row-fluid">
		<ul class="thumbnails row-of-four">
			<li ng-repeat="album in albums | filter:excludeProfileAndCoverPics" class="span3 image-wrapper">
				<img ng-src="{{getAlbumImageUrl(album)}}"/>
				<div class="overlay-caption">
					<a href="{{album.link}}">
						{{album.name}} <span class="photo-count">({{album.count}} photos)</span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
